.archive-meta h3 {
    line-height: 2.0;
}

.archive-meta sup {
    font-size: 10px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;
    background: #ddd none repeat scroll 0 0;
    vertical-align: top;
}

.archive-meta span {
    margin-right: 20px;
}

.archive-meta .archive-list-count::before {
    content: "(";
}

.archive-meta .archive-list-count::after {
    content: ")";
}
.icon-shangyin{
     display: block;
     position: relative;
     width: 60px;
     height: 60px;
     margin: auto;
     color: red;
 }
.icon-shangyin:before{
    color: red;
    font-size: 60px;
}
.icon-shangyin .text{
    position: absolute;
    display: none;
    top: -320px;
    left: -220px;
    width: 500px;
    height: 300px;
    text-align: center;
    background-color: #683cff;
}
.post-comments .footer{
    position: absolute;
    top: 300px;
    left: 230px;
    border: 20px solid;
    width: 0;
    border-color: #683cff transparent transparent transparent;
}
.icon-shangyin div span{
    float: left;
    width: 250px;
    height: 250px;
    /*background-color: #683cff;*/
}
.icon-shangyin div .weixin i{
    display: block;
    width: 200px;
    height: 200px;
    margin: 10px auto;
    background: url(../images/weixin.jpg) top left no-repeat #ccc;
    background-size: 100% 100%;
}
.icon-shangyin div .zhifubao i{
    display: block;
    width: 200px;
    height: 200px;
    margin: 10px auto;
    background: url(../images/zhifubao.jpg) top left no-repeat #ccc;
    background-size: 100% 100%;
}
.icon-shangyin:hover div{
    display: block;
}